{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>ようこそ、{{ user.get_username }}さん！</h1>
        <a href="{% url 'logout' %}" class="logout">Logout</a>
    {% else %}
        <p>ログインしていません</p>
        <p><a href="{% url 'login' %}">戻る</a></p>
    {% endif %}
</body>
</html>
